.menu-button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    border-color: #4CAF50;
}
.menu-button:hover {
  background-color: #ffffff;
  color: #4CAF50;
  border-color: #4CAF50;
}