<!-- <button class="menu-button" mat-button [matMenuTriggerFor]="aboveMenu">Home</button> -->
<!-- <mat-menu #aboveMenu="matMenu" yPosition="above">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<button class="menu-button" mat-button >Home</button>
<button class="menu-button" mat-button>Shop</button>
<button class="menu-button" mat-button>Categories</button>
<button class="menu-button" mat-button>Contact</button>

<router-outlet></router-outlet>
